{% extends 'base.html' %}
{% load static %}


{% block content %}
<!-- end header -->
      <div class="blue_bg">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>About</h2>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- about section -->
      <div class="about">
         <div class="container">
            <div class="row">
               <div class="col-md-5">
                  <div class="about_text">
                     <h3>الاهداف الرئيسية</h3>


                     <h2>اعادة تدوير الملابس
توفير الملابس المستعملة بحالة ممتازة
فرصة بيع و شراء الملابس على الموقع
وجوب تطابق الملابس بمواصفات الجودة المحددة
توفر الملابس باسعار مناسبة  </h2>
                     <a class="read_more" href="#">شكرا لكم</a>
                  </div>
               </div>
               <div class="col-md-7">
                  <div class="about_img">
                     <figure><img src="{% static 'images/black-red.png' %}" alt="#"/></figure>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <!-- end about section -->
      <!--  footer -->
 {% endblock %}


