{% extends 'base.html' %}
{% load static %}

{% block content %}

      <!-- end header inner -->
      <!-- end header -->
      <div class="blue_bg">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>Featured Products</h2>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- project section -->
      <div id="project" class="project">
         <div class="container">
         
          
            <div class="row">
            <div class="product_main">
             
                  <div class="project_box ">
                     <div class="dark_white_bg" ><img  src="{% static 'images/shoes1.png' %}" alt="#"/></div>
                     <h3>sport shoes  120.00 L.E</h3>
                  </div>


                  <div class="project_box ">
                     <div class="dark_white_bg" ><img  src="{% static 'images/shoes2.png' %}" alt="#"/></div>
                     <h3 >sport shoes  120.00 L.E</h3>
                  </div>
               
                  <div class="project_box">
                     <div class="dark_white_bg" ><img  src="{% static 'images/shoes3.png' %}" alt="#"/></div>
                     <h3>sneaker  150.00 L.E</h3>
                  </div>
              
                  <div class="project_box">
                     <div class="dark_white_bg" ><img  src="{% static 'images/shoes4.png' %}" alt="#"/></div>
                     <h3>classic shoes 100.00  L.E</h3>
                  </div>
              
                  <div class="project_box">
                     <div class="dark_white_bg" ><img  src="{% static 'images/shoes5.png' %}" alt="#"/></div>
                     <h3>sport shoes  120.00 L.E</h3>
                  </div>
              
            
                  <div class="project_box ">
                     <div class="dark_white_bg" ><img  src="{% static 'images/tisat1.png' %}" alt="#"/></div>
                     <h3>t-shirt  160.00 L.E </h3>
                  </div>
              
                  <div class="project_box ">
                     <div class="dark_white_bg" ><img  src="{% static 'images/tisat2.png' %}" alt="#"/></div>
                     <h3 >t-shirt  160.00 L.E</h3>
                  </div>
               
                  <div class="project_box">
                     <div class="dark_white_bg" ><img  src="{% static 'images/tisat3.png' %}" alt="#"/></div>
                     <h3>t-shirt  160.00 L.E</h3>
                  </div>
               
                  <div class="project_box">
                     <div class="dark_white_bg" ><img  src="{% static 'images/tisat4.png' %}" alt="#"/></div>
                     <h3>t-shirt  160.00 L.E</h3>
                  </div>
               
                  <div class="project_box">
                     <div class="dark_white_bg" ><img  src="{% static 'images/tisat5.png' %}" alt="#"/></div>
                     <h3>t-shirt  160.00 L.E</h3>
                  </div>

                  <div class="project_box ">
                     <div class="dark_white_bg" ><img  src="{% static 'images/shoes4.png' %}" alt="#"/></div>
                     <h3>classic shoes 100.00  L.E</h3>
                  </div>

                  <div class="project_box ">
                     <div class="dark_white_bg" ><img  src="{% static 'images/shoes1.png' %}" alt="#"/></div>
                     <h3 >sport shoes  130.00 L.E</h3>
                  </div>
               
                  <div class="project_box">
                     <div class="dark_white_bg" ><img  src="{% static 'images/tisat1.png' %}" alt="#"/></div>
                     <h3>t-shirt  160.00 L.E</h3>
                  </div>
              
                  <div class="project_box">
                     <div class="dark_white_bg" ><img  src="{% static 'images/tisat5.png' %}" alt="#"/></div>
                     <h3>t-shirt  160.00 L.E</h3>
                  </div>
               
                  <div class="project_box">
                     <div class="dark_white_bg" ><img  src="{% static 'images/shoes3.png' %}" alt="#"/></div>
                     <h3>sneaker  150.00 L.E</h3>
                  </div>
              
               <div class="col-md-12">
                  <a class="read_more" href="#"></a>
               </div>
            </div>
            </div>
         </div>
      </div>
      <!-- end project section -->
     {% endblock %}